# Python
venv/
stt_venv/
__pycache__/
*.pyc

# OS
.DS_Store

# TouchDesigner autosaves / backups
*.toe.backup
*.toe~

# logs and runtime pipes
/tmp/*
*.log

# virtual environment
.env
venv/
docs/
models/